#heading
{
    color: white; 
    font-family: sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
#border
{
    border-bottom: solid white;
}

#heading2
{
    color: white; 
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

body
{
    background:url(Images/back.jpg);
    background-size: cover;
}
.centered-form
{
	margin-top: 100px;
}

.centered-form .panel
{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 20px 20px;
    
}
#title
{
    color: white; 
    font-family: Calibri; 
    font-size: 20px; 
    font-weight: bold;
    text-decoration: underline;
    margin-left: 20px;
}

#locationId
{
    color: white; 
    font-family: Calibri; 
    font-size: 15px;
}

#capacity
{
    color: white; 
    font-family: Calibri; 
    font-size: 15px;
}

#price
{
    color: white; 
    font-family: Calibri; 
    font-size: 15px;
}

#image
{
    margin: auto 0;
}

#name
{
    color: white; 
    font-family: Calibri; 
    font-size: 15px;
}

#email
{
    color: white; 
    font-family: Calibri; 
    font-size: 15px;
}

#userId
{
    color: white; 
    font-family: Calibri; 
    font-size: 15px;
}



