#heading
{
    color: white; 
    font-family: monospace;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
#border
{
    border-bottom: solid white;
}
#heading2
{
    color: white; 
    font-family: monospace;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

body
{
    background:url(Images/hotel.jpg);
    background-size: cover;
}
.centered-form
{
	margin-top: 100px;
}

.centered-form .panel
{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 20px 20px;
    
}

#pBody #food
{
    width: 900px;
    float: left;
}
